/* ///////////////////////////////// */
body {
    background-color: black;
    /* height: 900px;    */
}
#navbar {
    background-color: black;
    box-shadow: 2px 0.01px 5px rgba(255, 193, 7, 255);
    /* box-shadow: 2px 0.01px 5px rgb(255, 255, 0); */
}
span {
    margin-left: 15px;
    margin-right: 15px;
}

#wrap {
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
}
.columns_2 figure {
    width: 49%;
    margin-right: 1%;
}
.columns_2 figure:nth-child(2) {
    margin-right: 0;
}
.columns_3 figure {
    width: 32%;
    margin-right: 1%;
}
.columns_3 figure:nth-child(3) {
    margin-right: 0;
}
.columns_4 figure {
    width: 24%;
    margin-right: 1%;
}
.columns_4 figure:nth-child(4) {
    margin-right: 0;
}
.columns_5 figure {
    width: 19%;
    margin-right: 1%;
}
.columns_5 figure:nth-child(5) {
    margin-right: 0;
}
/* #columns figure:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);s
    transform: scale(0,2);
} */
#columns:hover figure:not(:hover) {
    opacity: 0.9;
}

div#columns figure {
    display: inline-block;
    background: #fefefe;
    border: 2px solid #fafafa;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 0px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 85px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #fff, #f9f9f9);
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.dropdown-item:hover {
    background-color: black;
    color: white;
}
div#columns figure img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

div#columns figure figcaption {
    font-size: 0.9rem;
    color: #444;
    line-height: 1.5;
    height: 60px;
    font-weight: 600;
    text-overflow: ellipsis;
}

a.button {
    padding: 10px;
    background: salmon;
    margin: 10px;
    display: block;
    text-align: center;
    color: #fff;
    transition: all 1s linear;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    border-bottom: 3px solid #ff6536;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
a.button:hover {
    background: #ff6536;
    border-bottom: 3px solid salmon;
    color: #f1f2f3;
}
@media screen and (max-width: 960px) {
    #columns figure {
        width: 24%;
    }
}
@media screen and (max-width: 767px) {
    #columns figure {
        width: 32%;
    }
}
@media screen and (max-width: 600px) {
    #columns figure {
        width: 49%;
    }
}
@media screen and (max-width: 500px) {
    #columns figure {
        width: 100%;
    }
}
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3rem;

    /*===== Colors =====*/
    --first-color: #3e0e12;
    --first-color-dark: #2f0a0d;
    --text-color: #524748;
    --first-color-light: #7b6f71;
    --first-color-lighten: #fbf9f9;

    /*===== Font and typography =====*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*===== Font weight =====*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*===== Margins =====*/
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /*===== z index =====*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root {
        --biggest-font-size: 4.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/*===== BASE =====*/
/* *,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
} */

/* body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
} */

/* h1,
h2,
h3,
ul,
p {
    margin: 0;
}

h2,
h3 {
    font-weight: var(--font-semi-bold);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
} */

/*===== CLASS CSS =====*/
/* .section {
    padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
    text-align: center;
} */

/* .section-title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle {
    display: block;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
} */

/*===== LAYOUT =====*/
/* .bd-container {
    max-width: 1024px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
} */

/* .bd-grid {
    display: grid;
    gap: 1.5rem;
} */

/* .l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #000;
} */

/* /////////////////////////////, */
/* login*/
a {
    text-decoration: none;
}
.login-page {
    width: 100%;
    height: 550px;
    display: inline-block;
    display: flex;
    align-items: center;
}
.form-right i {
    font-size: 100px;
}

/* START BUTTON */
.btn-warning {
    background: var(--btnbg);
    color: var(--btnfontcolor);
    fill: #ffffff;
    border: none;
    text-decoration: none;
    outline: 0;
    /* box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25); */
    /* border-radius: 100px; */
}
.btn-warning:hover {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}
.btn-check:focus + .btn-warning,
.btn-warning:focus {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}
.btn-warning:active:focus {
    box-shadow: 0 0 0 0.25rem var(--btnactivefs);
}
.btn-warning:active {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

/* END BUTTON */

.bg-success {
    font-size: 1rem;
    background-color: var(--btnbg) !important;
    color: var(--btnfontcolor) !important;
}
.bg-danger {
    font-size: 1rem;
}

.price-hp {
    font-size: 1rem;
    font-weight: 600;
    color: darkgray;
}

.amz-hp {
    font-size: 0.7rem;
    font-weight: 600;
    color: darkgray;
}

.fa-question-circle:before {
    /* content: "\f059"; */
    color: darkgray;
}

.fa-heart:before {
    color: crimson;
}
.fa-chevron-circle-right:before {
    color: darkgray;
}

/* ////////////////////////// */
/* FORM */
#signupbtn {
    background-color: black;
    color: rgba(255, 193, 7, 255);
    width: 300px;
    border-radius: 20px;
}
#black {
    background-color: black;
    color: white;
}
#loginfacebtn {
    background-color: rgba(255, 193, 7, 255);
    color: black;
    border-radius: 20px;
    width: 100px;
}

input[type="checkbox"] {
    accent-color: rgba(255, 193, 7, 255) npm;
}
/* /////////////////////////////////////// */
/* Trending */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");
/* 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
} */

/* body {
    background-color: bisque;
} */

#fontwhite {
    color: white;
}
.container {
    margin: 30px auto;
}

.navbar-nav .nav-link {
    /* color: #000; */
    padding: 0.5rem 0rem !important;
    border-color: transparent;
    margin-left: 1.5rem;
    transition: none;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.container .product-item {
    min-height: 450px;
    border: none;
    overflow: hidden;
    position: relative;
    border-radius: 0;
}

.container .product-item .product {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.container .product-item .product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .product-item .product .icons .icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease;
    transform: rotate(180deg);
    cursor: pointer;
}

.container .product-item .product .icons .icon:hover {
    background-color: #b71c1c;
    color: #fff;
}

.container .product-item .product .icons .icon:nth-last-of-type(3) {
    transition-delay: 0.2s;
}

.container .product-item .product .icons .icon:nth-last-of-type(2) {
    transition-delay: 0.15s;
}

.container .product-item .product .icons .icon:nth-last-of-type(1) {
    transition-delay: 0.1s;
}

.container .product-item:hover .product .icons .icon {
    transform: translateY(-60px);
}

.container .product-item .tag {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 0 0.4rem;
}

.container .product-item .title {
    font-size: 0.95rem;
    letter-spacing: 0.5px;
}

.container .product-item .fa-star {
    font-size: 0.65rem;
    color: goldenrod;
}

.container .product-item .price {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.fw-800 {
    font-weight: 800;
}

.bg-green {
    background-color: #208f20 !important;
    color: #fff;
}

.bg-black {
    background-color: #1f1d1d;
    color: #fff;
}

.bg-red {
    background-color: #bb3535;
    color: #fff;
}

@media (max-width: 767.5px) {
    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link:hover {
        background-color: #b71c1c;
        color: #fff !important;
    }

    .navbar-nav .nav-link {
        border: 3px solid transparent;
        margin: 0.8rem 0;
        display: flex;
        border-radius: 10px;
        justify-content: center;
    }
}
/* ///////////////////////////////////// */
/* MARQUEE */
@import url("https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap");

* {
    box-sizing: border-box;
}

/* body {
    min-height: 100vh;
} */

body {
    --space: 2rem;

    /* display: grid; */
    align-content: center;
    /* overflow: hidden; */
    gap: var(--space);
    width: 100%;
    font-family: "Corben", system-ui, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

.marquee {
    --duration: 60s;
    --gap: var(--space);

    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    transform: skewY(-3deg);
}

.marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
    .marquee__group {
        animation-play-state: paused;
    }
}

.marquee--reverse .marquee__group {
    animation-direction: reverse;
    animation-delay: calc(var(--duration) / -2);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - var(--gap)));
    }
}
